__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
coverage.xml
htmlcov/
dist/
build/
*.egg-info/
.python-version
.env
.env.*
*.sqlite3
*.db
silverback.log
node_modules/
.git
.gitignore
.github
